@import "tailwindcss";

@layer base {
  a {
    @apply underline decoration-red-500/60 underline-offset-4;
  }

  a:hover {
    @apply decoration-red-400;
  }

  button:enabled,
  [role="button"]:enabled {
    cursor: pointer;
  }

  :is(a, button, input, textarea):focus-visible {
    outline: transparent solid 0;
    outline-offset: 0;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-display);
  }
}

@media screen and (update: fast) and (prefers-reduced-motion: no-preference) {
  :root {
    @apply scroll-smooth;
  }
}

@media not (update: fast) {
  * {
    @apply animate-none! transition-none!;
  }
}

/* `@theme inline` is required when referencing CSS custom properties */
/* @see https://tailwindcss.com/docs/theme#referencing-other-variables */
@theme inline {
  --font-display: var(--font-orbitron);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-geist-sans);
}

@theme {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  }
}
